<footer class="d-flex justify-content-center">
	<!-- <section class="contact">
		<form class="sixteen wide column">
			<input type="email" placeholder="email">
			<a href="/" class="btn">Subscribe now!</a>
			<span> LLC 2019</span>
		</form>
	</section> -->

	{{!-- <form class="form-inline">
		<div class="form-group mx-2">
    		<label for="emailInput" class="mx-2">Email address</label>
    		<input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
  		</div>
		<button type="submit" class="btn btn-primary">Subscribe now!</button>
	</form>
</footer> --}}


<script type="text/javascript" src="scripts.js"> </script>


<!-- <script src="scripts/lib/vue.min.js" ></script> -->
<!-- <script src="scripts/lib/botui.min.js" ></script> -->
<!-- <script src="scripts/chat1.js"></script> -->
