{{>header}} <title>About</title>




<h1 class="container-fluid text-center">About Page</h1>

<div class="p container-fluid text-center">
  <p> This project was created to help those that endlessly search the web for solutions to their problems but end up no where because
    of the endless results online. We customize the results based on the users responded as well as filter out the best and most effective
    solutions as well as useful articles to guide the user through whatever might be troubling them. Our questionnaire has been carefully
    vetted to ask the most effective questions to the user, this ensures that the entire questionnaire isn’t too long but just long enough
    to extract the most important information needed to give the most accurate results.  We made our system to be as human like as possible,
    this ensures that the user feels as its just a conversation rather then filling out paperwork at the doctors office. </p>
</div>

{{>footer}}
