{{>header}}




<h1 class="container-fluid text-center">Contact Page</h1>

<div class="p container-fluid text-center">
  <p> This project is always being updated and perfected, if you have any feedback please dont hesistate to reach out. </p>

<br>
<br>


          <h5>Developers</h5>
          <br>
      <p>
           <a href="mailto:niedzwid@kean.edu?subject=Feedback">Daniel Niedzwiedzki</a>
      </p>

      <p> <a href="mailto:tapiake@kean.edu?subject=Feedback">Kevin Tapia</a> </p>

</div>




{{>footer}}
