{{>header}}

<title>Home page</title>

<div class="container-fluid text-center" id="cover">
  <h1>Mental Health Awareness</h1>

  <h2>Get Help Today!</h2>

  <div>
    <input id="clicker" type="button" name="test_btn" class="btn btn-primary btn-lg mt-4" value="Get Started Now">
  </div>
</div>

<div class="text-center" id="chat-title">
  <h2>Virtual Assitant Chat</h2>
</div>

<div id="my-botui-app" >
  <div class="container text-center">
      <bot-ui ></bot-ui>
  </div>
</div>

<script src="scripts/lib/vue.min.js" ></script>
<script src="scripts/lib/botui.min.js" ></script>
<script src="scripts/chat1.js"></script>

{{>footer}}
