



.botui-container {
    position: relative;
    height:370px;
    height:auto;
    overflow: hidden;
}

.botui-message-content {
    height: 45px;
    width:auto;
}

.botui-message-content.text {
    background:#ebebeb;
    padding:10px 15px 10px 15px;
    color:#595a5a;
    max-width:75%;
    float:left;
    margin-left:10px;
    position:relative;
    margin-bottom:20px;
    border-radius:30px;
}

.botui-message-content.loading {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: #4a4a4a;
    border-radius: 4px;
}

button.botui-actions-buttons-button {
    border: 0;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    background-color: rgb(0, 132, 255);
    box-shadow: 0;
}

.botui-message-content.human {
    float:right;
    margin-right:10px;
    background: rgb(0, 132, 255);
    color:white;
}

.profil>img.agent{

    width: 50px;
    height: 50px;

}




.bot{
  display: flex;
}
